#don't version libs or build artifacts
libs/
out/

#intellij stuff
.idea
*.iml

#Auth Config Stuff
src/com/lnotes/twitterscotus/auth/authconfig.xml

#ANT build stuff, etc
module_twitterscotusstudy.xml
src/META-INF/
twitterscotusstudy.properties
twitterscotusstudy.xml
